.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}


#home {
  color: aliceblue;
  /* height: 360px; */
  width: 400px;
  display: inline-block;
  padding-top: 2px;
  padding-left: 15px;
  margin: 50px;
  position: relative;
  border-radius: 25px;
  background: #011522;
  box-shadow: -10px -10px 10px #474747
}

#adash {
  color: aliceblue;
  height: 160px;
  width: 170px;
  display: inline-block;
  padding: 20px;
  margin: 30px;
  position: relative;
  border-radius: 25px;
  background: #011522;
  box-shadow: -10px -10px 10px #474747
}


#fb {
  align-self: center;
  position: relative;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 50px;
  width: 50%;
  background: #011522;
  box-shadow: -10px -10px 10px #474747;
  border-radius: 25px;
  align-items: center;
  padding: 25px;
  color: aliceblue;
}



#left h1 {
  font-size: 70px;
  line-height: 100px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  color: rgb(153, 225, 20);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

@media (max-width: 768px) {
  #left h1 {
    font-size: 60px;
    line-height: 70px;
    margin-left: 15px;
    margin-top: 80px;
  }
}

@media (max-width: 576px) {
  #left h1 {
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
    margin-top: 25px;
  }
}

/* GymLoader.css SKIP_PREFLIGHT_CHECK=true*/

/* Loading.css */

.loading-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 225, 20);
}

.loading-gif {
  max-width: 100%;
  height: auto;
}


#login {
  align-self: center;
  position: relative;
  margin: 2% auto 50px auto;
  /* Center the login div vertically and horizontally */
  width: 90%;
  /* Adjust width for responsiveness */
  max-width: 600px;
  /* Set maximum width to prevent it from becoming too wide on larger screens */
  height: auto;
  /* Allow height to adjust based on content */
  padding: 3vw;
  /* Use viewport units for padding */
  background: #ffffff;
  box-shadow: 10px 10px 30px #a8a8a8,
    -10px -10px 30px #ffffff;
}

/* Adjust box shadow for smaller screens */
@media (max-width: 768px) {
  #login {
    box-shadow: 5px 5px 20px #a8a8a8,
      -5px -5px 20px #ffffff;
  }
}


.custom-thead {
  vertical-align: middle;
  border-color: inherit;
}

/* 
.App {
  text-align: center;
} */
.navHeight {
  bs-scroll-height: 200px;
  height: 60px;

  @media (max-width: 991px) {
    height: 120px;
    /* Decrease width for smaller screens */
  }

  @media (max-width: 576px) {
    height: 180px;
    /* Further decrease width for extra small screens */
  }
}

.d-flex {
  display: flex;
}

body,
html {
  overflow-x: hidden;
}

.sidebar {
  /* position: fixed; */
  top: 120px;
  left: 0;
  bottom: 0;
}

.sidewidth {
  width: auto;

  @media (max-width: 576px) {
    width: auto;
  }
}

/* signup page css */
.signup-container {
  margin: 2% auto 50px auto;
  width: 80%;
  max-width: 800px;
  padding: 3% 3% 3% 10vw;
  background: #ffffff;
  box-shadow: 10px 10px 30px #a8a8a8, -10px -10px 30px #ffffff;
}

.signup-heading {
  margin-bottom: 2rem;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  .signup-container {
    box-shadow: 5px 5px 20px #a8a8a8, -5px -5px 20px #ffffff;
  }

  .signup-heading {
    margin-left: 10%;
  }
}

.content-top {
  height: auto;
  position: fixed;
  flex: 1;
  width: max-content;
  /* Set content area height to fill the viewport */
  overflow-y: auto;
  /* Enable vertical scrolling for content */
  overflow-x: hidden;
}

.content {
  /* padding: 20px; */
  /* Add any additional styling as needed */
  /* padding-left: 150px;  */
  /* Ensure content doesn't overlap with sidebar */
  height: 100vh;
  flex: 1;
  width: max-content;
  /* Set content area height to fill the viewport */
  overflow-y: auto;
  /* Enable vertical scrolling for content */
  overflow-x: hidden;
  position: relative;
  /* Ensure z-index works correctly */
}

/* Add scrollbar to children content */
.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-icon {
  color: rgb(153, 225, 20);
  /* Change color to your desired color */
}

.text-hover-white:hover {
  color: white !important;
}

.divcard {
  display: flex;
  flex-wrap: wrap;
border-radius: 24px;
background: #ffffff;
box-shadow:  21px 21px 35px #666666,
             -21px -21px 35px #ffffff;
}

.divcardProfile {
/* border-radius: 24px; */
background: #ffffff;
box-shadow:  21px 21px 35px #666666,
             -21px -21px 35px #ffffff;
}




@media only screen and (max-width: 950px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table,
  table tbody,
  table tr,
  table td {
    display: block;
    border: 1px solid #dddddd;
  }

  table td {
    border: none;
    position: relative;
    /* padding-left: 60%; */
    /* padding-bottom: 15px; */
    width: 100%;
    /* height: 40px; */
  }

  table td::before {
    content: attr(data-label);
    /* position: absolute; */
    left: 0;
    width: 40%;
    padding-left: 10px;
    font-weight: bold;
  }

  table tr {
    margin: 25px
  }
}

/* Not Data Icon */
/* Inside your CSS file or style block */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon-container {
  position: relative;
}

.info-icon {
  animation: rotate 2s linear infinite;
  /* Apply rotation animation to the icon */
}

.gender-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.male {
  background-color: blue;
}

.female {
  background-color: pink;
}

.others {
  background-color: grey;
}
