
.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}


#home {
  color: aliceblue;
  height: 360px;
  width: 370px;
  display: inline-block;
  padding-top: 2px;
  padding-left: 15px;
  margin: 50px;
  position: relative;
  border-radius: 25px;
  background:#011522;
  box-shadow: -10px -10px 10px #474747
}
#adash{
  color: aliceblue;
  height: 160px;
  width: 170px;
  display: inline-block;
  padding: 20px;
  margin: 30px;
  position: relative;
  border-radius: 25px;
  background:#011522;
  box-shadow: -10px -10px 10px #474747
}


#fb{
  align-self: center;
  position: relative;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 50px;
  width:50%;
  background:#011522;
  box-shadow: -10px -10px 10px #474747;
  border-radius: 25px;
  align-items: center;
  padding: 25px;
  color: aliceblue;
}



  #left h1 {
    font-size: 70px;
    line-height: 100px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    color: rgb(153, 225, 20);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
  }
  
  @media (max-width: 768px) {
    #left h1 {
      font-size: 60px;
      line-height: 70px;
      margin-left: 15px;
      margin-top: 80px;
    }
  }
  
  @media (max-width: 576px) {
    #left h1 {
      font-size: 20px;
      line-height: 25px;
      margin-left: 10px;
      margin-top: 25px;
    }
  }

/* GymLoader.css SKIP_PREFLIGHT_CHECK=true*/

/* Loading.css */

.loading-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loading-gif {
  max-width: 100%;
  height: auto;
}


  
  

/* 
.App {
  text-align: center;
} */


