body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* background-image: url("../src/components/images/background.jpg"); */
  /* background-color: #545454; */
  /* background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 15px; */
}

body > iframe {
  display: none;
}

.custom-thead {
  vertical-align: middle;
  border-color: inherit;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body, html {
  overflow-x: hidden;
}

/* input,select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px ;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  resize: vertical;
}



input:focus {
  border: 3px solid #555;
} */
input, select {
  width: 100%; /* Set width to 100% for responsiveness */
  padding: 0.7vw; /* Use viewport units for padding */
  margin: 1vw 0; /* Use viewport units for margin */
  box-sizing: border-box;
  border: 0.2em solid #ccc; /* Adjust border thickness */
  transition: border-color 0.5s; /* Simplify transition */
  outline: none;
}

/* Adjust border color on focus */
input:focus {
  border-color: #555; /* Darken border color when focused */
}

/* Use media queries for different screen sizes */
@media (min-width: 768px) {
  /* Apply different styles for screens wider than 768px */
  input, select {
    width: 50%; /* Example: Set width to 50% for medium-sized screens */
  }
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  position: relative;
  text-align: left;
  color: rgb(0, 0, 0);
  width: 160px;
}